*{
  clear: both;
}
body{
  background-image:url('/Images/Mortal-Kombat-11-Logo-4K-Ultra-HD-Mobile-Wallpaper.jpg');
  background-size: cover;
  background-repeat:no-repeat;
}
html{
  font-size:62.5%;
}
img{
  width:30%;
  height:100px;
  
}
main{
  float:right;
  width:60%;
  margin-top:112%;
}
main section{
  margin-left:50%;
  width:80%;
  
}